# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# But do include the other kind of .obj file
!models/**/*.obj
!clutter/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build dir
build/
